<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    
  </head>

  <body>
   {{>header}}
    <img src="/img/profilepicture.jpg" />
    {{>footer}}
  
  </body>
</html>
